.contenido-central {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 23vw;
  height: 70vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 4px 5px rgba(0, 0, 0, 0.19);
}

.contenedor_titulo {
  width: 20vw;
  height: 9vh;
}

.titulo-principal {
  width: 100%;
  height: 50%;
}

.titulo-principal p {
  font-weight: bold;
  font-size: 25px;
}

.descripcion {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.descripcion p {
  font-size: 13px;
}

.caja1 {
  padding-left: 10px;
  width: 19vw;
  height: 6vh;
  border: 1px solid #414141;
  margin-bottom: 10px;
}

input::placeholder {
  font-size: 16px;
}

.contenedor-caja2 {
  width: 19vw;
  height: 6vh;
  border: 1px solid #414141;
  display: flex;
}

.caja2 {
  padding-left: 10px;
  border: 0;
  width: 14vw;
}

.enlace_caja2 {
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #0969da;
  font-size: 14px;
  font-weight: bold;
}

.descripcion-caja2 {
  width: 19vw;
  color: #0969da;
  font-size: 14px;
  font-weight: bold;
}

.descripcion-caja2 a {
  text-decoration: none;
  color: #0969da;
}

.caja3 {
  width: 19vw;
  height: 6vh;
  background-color: #0969da;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja3 a {
  color: white;
  text-decoration: none;
}

.caja3:hover {
  cursor: pointer;
}

.descripcion-caja3 {
  width: 19vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descripcion-caja3 p {
  display: flex;
  font-size: 12px;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  color: #414141;
}

hr {
  width: 43%;
  color: black;
}

.caja4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 19vw;
  height: 6vh;
  border: 2px solid #414141;
  border-radius: 15px;
}

.caja4 a {
  color: #414141;
  font-size: 14px;
  text-decoration: none;
}

.caja4:hover {
  cursor: pointer;
}

img {
  width: 17px;
  margin-left: 10px;
  margin-right: 7px;
}