* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 45px;
  box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.22);
}

.navegacion {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.lista-principal {
  display: flex;
}

.lista-principal li {
  list-style: none;
  border-right: 1px solid #ccc;
  padding-left: 1vw;
  padding-right: 1vw;
}

.lista-principal li:hover {
  box-shadow: 0px 0ps 4px #ccc inset;
  text-decoration: underline;
  transition: all 1s;
}

.lista-principal li a {
  text-decoration: none;
  color: #201c1c;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.lista-principal li a:hover {
  color: #ff3c7696;
}

.submenu2 {
  display: none;
  position: absolute;
  width: 175px;
  box-shadow: 0px 2px 2px gray;
  z-index: 1;
}

nav>ul>li:hover>ul {
  display: block;
}

nav>ul>li:hover>ul>li {
  background-color: #555554;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

nav>ul>li:hover>ul>li:hover {
  box-shadow: 0px 0px 6px #ccc inset;
}

nav img {
  width: 100px;
  height: 70px;
  cursor: pointer;
}

.titulo-central {
  font-size: 24px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.tarjetas-general {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 80%;
  height: 60vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 0.82);
}

.card:hover {
  transform: scale(1.2);
}


.texto-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-card img {
  margin-bottom: 10px;
}


.descripcion {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20vh;
}

.descripcion p {
  text-align: center;
}

.card img {
  border-radius: 50%;
  border: 1px solid red;
  width: 150px;
  height: 150px;
}

.contenido-pie-pagina {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.pie-pagina {
  width: 80%;
  height: 60vh;
  background-color: #ff3c7696;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 0.82);
}

.item-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  gap: 20px;
}

.contenido-footer-parrafo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  font-weight: bold;
  font-size: 16px;
}